/* App.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.App {
    transition: background 0.3s ease;
}

section {
    height: 100vh;
    padding: 20px;
}

#home {
    /*background-color: rgba(255, 255, 255, 0.8);*/
}

#about {
    /*background-color: rgba(255, 255, 255, 0.8);*/
}

#services {
    /*background-color: rgba(255, 255, 255, 0.8);*/
}

#contact {
    /*background-color: rgba(255, 255, 255, 0.8);*/
}